{{!-- pulled out of homepage --}}
<article class="post">
  <div class="title black-text z-depth-4 text-darken-2 center-align">
    <h3>{{title}}</h3>
    <h6>Created on {{format_date created_at}}</h6>
    <span>{{post_text}}</span>
  </div>
</article>