{{!-- pulled out of homepage --}}
  <div class="title black-text  text-darken-2 center-align">
    <h3>{{title}}</h3>
    <h6>Created on {{format_date created_at}}</h6>
    <span>{{post_text}}</span>
  </div>