{{!-- dashboard displays the create posts form and the previous created posts (if logged in) --}}
<section>
 
  {{#if posts.length}}
  <section>
    <div class="card-panel">
      <div class="col s12 m5"></div>
      <h4 class="blue-text z-depth-4 text-darken-2 center-align" >Your Posts</h4>
    </div>
    <ul>
      {{#each posts as |post|}}
      <li>
        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel blue lighten-5">
              {{> post-info post}}
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </div>
          </div>
        </div>
        
      </li>
      {{/each}}
    </ul>
    
  </section>
  {{/if}}

  <a href="#" id="create-new">
     <div class="card-panel">
      <div class="col s12 m5"></div>
      <span class="blue-text text-darken-2">Create New Post</span>
      {{!-- <a class="waves-effect waves-light"><i class="material-icons left">cloud</i>Create New Post </a> --}}
    
    </div>
    {{!-- <h2>Create New Post</h2> --}}
  </a>

  {{!-- <form class="search-form">
    <input type="text" class="search" placeholder="Business Name">
    <ul class="suggestions">
      <li>Filter for a business</li>
    </ul>
  </form> --}}


  <form class="new-post-form hide search-form">
    <div>
      <label for="business-name">Business Name(id)</label>
      <input type="text" id="business-name" class="search" placeholder="Business Name">
    <ul class="suggestions">
      <li>Filter for a business</li>
    </ul>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
      <div class="safety-measures">
        <label>
          <input type="checkbox" class="filled-in" id="mask-required" />
          <span>Masks required</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-mask" />
          <span>Staff wears masks</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-gloves" />
          <span>Staff wears gloves</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="contactless-payment" />
          <span>Contactless payment</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="handsanitizer-provided" />
          <span>Handsanitizer provided</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="social-distancing" />
          <span>Social distancing enforced</span>
        </label>
      </div>
      <label for="post-text">Content</label>
      <div>
        <textarea name="post-text"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

{{!-- to make link work, need to reference functionality in js --}}
<script src="/javascript/unhide-form.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/business-search.js"></script>