<ul class="business-list">
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel blue lighten-5">
        {{#each businesses as |business| }}
        <li>
          {{> business-info business }}
        </li>
        {{/each}}
      </div>
    </div>
  </div>
  </ol>

  <ul class="business-list">

    </div>
    </div>
    </div>
    </ol>