{{> business-info business }}

<a href=""

{{#if loggedIn}}
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
      <div class= "safety-measures">
        <label>
          <input type="checkbox" class="filled-in" id="safety-measures" />
          <span>Safety Measures</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="mask-required" />
          <span>Masks required</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-mask" />
          <span>Staff wears masks</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-gloves" />
          <span>Staff wears gloves</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="contactless-payment" />
          <span>Contactless payment</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="handsanitizer-provided" />
          <span>Handsanitizer provided</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="social-distancing" />
          <span>Social distancing enforced</span>
        </label>
      </div>


    </div>
    <div>
      <label for="post-text">Content</label>
      <div>
        <textarea name="post-text"></textarea>
      </div>

      <button type="submit" class="btn">Create</button>
  </form>
</section>
{{/if}}



<section>
  <h2>{{business.name}} Reviews</h2>
  <ul>
    {{#each business.posts as |post|}}
    <li>
      
      {{> post-info post}}
      
    </li>
    {{/each}}
  </ul>
</section>


{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{!-- <script src="/javascript/upvote.js"></script> --}}
{{/if}}